<section class="content-header">
    <h1>
        Historic Report
    </h1>
</section>
<div class="content">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Select date range</h3>
                </div>

                <div class="box-body">
                    <!-- Date range -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-3">
                                <datepicker date-format="yyyy-MM-dd" selector="form-control">
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor: pointer">
                                            <i class="fa fa-lg fa-calendar"></i>
                                        </span>
                                        <input class="form-control" ng-model="startDate" placeholder="Select Start Date" />
                                    </div>
                                </datepicker>
                            </div>
                            <div class="col-xs-3">
                                <datepicker date-format="yyyy-MM-dd" selector="form-control">
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor: pointer">
                                            <i class="fa fa-lg fa-calendar"></i>
                                        </span>
                                        <input class="form-control" ng-model="endDate" placeholder="Select End Date" />
                                    </div>
                                </datepicker>
                            </div>
                            <div class="col-xs-4">
                                <label class="md-radio block">
                                    <input type="radio" name="demo2[]">
                                    <span class="md-radio--fake">
                                        <span></span>
                                    </span>
                                    <div>
                                        Table
                                    </div>
                                </label>
                                <label class="md-radio block">
                                    <input type="radio" name="demo2[]" checked="true">
                                    <span class="md-radio--fake">
                                        <span></span>
                                    </span>
                                    <div>
                                        Graphic
                                    </div>
                                </label>
                            </div>
                        </div>
                        <hr/>
                        <div class="box-header with-border">
                            <h3 class="box-title">Sensors</h3>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 col-md-8">
                                <label class="md-checkbox block">
                                    <input type="checkbox" name="demo2[]">
                                    <span class="md-checkbox--fake"></span>
                                    <div>
                                        NO2
                                    </div>
                                </label>
                                <label class="md-checkbox block">
                                    <input type="checkbox" name="demo2[]">
                                    <span class="md-checkbox--fake"></span>
                                    <div>
                                        O3
                                    </div>
                                </label>
                                <label class="md-checkbox block">
                                    <input type="checkbox" name="demo2[]">
                                    <span class="md-checkbox--fake"></span>
                                    <div>
                                        PHOTOMETER
                                    </div>
                                </label>
                                <label class="md-checkbox block">
                                    <input type="checkbox" name="demo2[]">
                                    <span class="md-checkbox--fake"></span>
                                    <div>
                                        ULTRASONIC
                                    </div>
                                </label>
                                <label class="md-checkbox block">
                                    <input type="checkbox" name="demo2[]">
                                    <span class="md-checkbox--fake"></span>
                                    <div>
                                        PIR
                                    </div>
                                </label>
                                <label class="md-checkbox block">
                                    <input type="checkbox" name="demo2[]">
                                    <span class="md-checkbox--fake"></span>
                                    <div>
                                        CO
                                    </div>
                                </label>
                                <label class="md-checkbox block">
                                    <input type="checkbox" name="demo2[]">
                                    <span class="md-checkbox--fake"></span>
                                    <div>
                                        CO2
                                    </div>
                                </label>
                            </div>
                            <div class="col-xs-3 col-md-2">
                                <button type="button" class="btn btn-block btn-warning btn-lg">Consult</button>
                            </div>
                            <div class="col-xs-3 col-md-2">
                                <button type="button" class="btn btn-block btn-success btn-lg">Export</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">

                        <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options"
                        chart-dataset-override="datasetOverride" chart-click="onClick" width="50" height="18">
                      </canvas>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-1">&nbsp;</div>
</div>
