<section class="content-header">
    <h1>
        Sensors Range
    </h1>
</section>
<div class="content">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="box-title">Sensor</h3>
                        </div>
                        <div class="col-md-6">
                            <h3 class="box-title">Range</h3>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-5">
                            NO2
                        </div>
                        <div class="col-md-7">
                           <rzslider rz-slider-model="slider.minValue"
          rz-slider-high="slider.maxValue"
          rz-slider-options="slider.options"></rzslider>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            O3
                        </div>
                        <div class="col-md-7">
                           <rzslider rz-slider-model="slider2.minValue"
          rz-slider-high="slider2.maxValue"
          rz-slider-options="slider2.options"></rzslider>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            PHOTOMETER
                        </div>
                        <div class="col-md-7">
                           <rzslider rz-slider-model="slider3.minValue"
          rz-slider-high="slider3.maxValue"
          rz-slider-options="slider3.options"></rzslider>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            ULTRASONIC
                        </div>
                        <div class="col-md-7">
                           <rzslider rz-slider-model="slider4.minValue"
          rz-slider-high="slider4.maxValue"
          rz-slider-options="slider4.options"></rzslider>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            PIR
                        </div>
                        <div class="col-md-7">
                           <rzslider rz-slider-model="slider5.minValue"
          rz-slider-high="slider5.maxValue"
          rz-slider-options="slider5.options"></rzslider>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            CO
                        </div>
                        <div class="col-md-7">
                           <rzslider rz-slider-model="slider6.minValue"
          rz-slider-high="slider6.maxValue"
          rz-slider-options="slider6.options"></rzslider>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            CO2
                        </div>
                        <div class="col-md-7">
                           <rzslider rz-slider-model="slider7.minValue"
          rz-slider-high="slider7.maxValue"
          rz-slider-options="slider7.options"></rzslider>
                        </div>
                    </div>
                    <br/>
                    <hr/>
                    <div class="row">

                    <div class="col-md-offset-10 col-md-2">
                        <button type="button" class="btn btn-block btn-warning btn-lg">Save</button>
                    </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="col-sm-12 col-md-1">&nbsp;</div>
</div>